@import "tailwindcss";

/* THEME SUPPORT */
:root[data-theme="light"] {
  --primary: #0B7BAD;
  --background-primary: #AACDBF;
  --background: #DFF3FA;
  --background-border: #AAD7E9;
  --on-background: #000000;
  --surface: #F5FBFD;
  --on-surface: #000000;
  --container: #FFFFFF;
  --on-container: #000000;
  --container-low: #ECFAFF;
  --container-border: #EEEEEE;
  --on-container-low: #000000;
  --on-container-almost: #38515C;
  --container-secondary: rgba(149, 209, 61, 0.1);
  --container-secondary-border: #95D13D;
  --success: #4BB543;
  --danger: #F04343;
  --warning: #F1A604;
  --scheme: light;
}

:root[data-theme="dark"] {
  --primary: #0B7BAD;
  --background-primary: #1A3D2C;
  --background: #0C3242;
  --background-border: #134D65;
  --on-background: #FFFFFF;
  --surface: #000D13;
  --on-surface: #FFFFFF;
  --container: #000000;
  --on-container: #FFFFFF;
  --container-low: #021D29;
  --container-border: #4D4D4D;
  --on-container-low: #FFFFFF;
  --on-container-almost: #CCCCCC;
  --container-secondary: #86C05A1a;
  --container-secondary-border: #86C05A;
  --success: #4BB543;
  --danger: #F04343;
  --warning: #F1A604;
  --scheme: dark;
}

html, body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, var(--background), var(--container-secondary));
}

div, span, a, li, p, h1, h2, h3, h4, h5, h6 {
  color: var(--on-container);
  transition: background 0.5s;
}

a, h1, h2, h3, h4, h5, h6 { text-decoration: none; }
h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }

.bg-surface { background-color: var(--surface); }
.bg-container { background-color: var(--container); }
.bg-container-secondary { background-color: var(--container-secondary); }
.bg-primary { background-color: var(--primary); }
.bg-success { background-color: var(--success); }
.bg-danger { background-color: var(--danger); }
.bg-warning { background-color: var(--warning); }

.text-primary { color: var(--primary); }
.text-success { color: var(--success); }
.text-danger { color: var(--danger); }
.text-warning { color: var(--warning); }
.text-container { color: var(--container); }
.text-on-container { color: var(--on-container); }

.border-t-container-1 { border-top: 1px solid var(--container-border); }
.border-t-container-2 { border-top: 2px solid var(--container-border); }
.border-container-2 { border: 2px solid var(--container-border); }

button:hover, select:hover {
  cursor: pointer;
  opacity: 0.75;
}

select {
  outline: none;
  border: 2px solid var(--container-border);
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none;
}

.select__control {
  padding-top: 28px;
  background-color: var(--container-secondary) !important;
  border-width: 2px !important;
  border-color: var(--container-border) !important;
  border-radius: 8px !important;
}

.select__menu {
  background-color: var(--container) !important;
  border-radius: 8px !important;
  border: 2px solid var(--container-border) !important;
}

.select__multi-value__label, .select__multi-value__remove {
  background-color: var(--container);
}

.select__multi-value {
  background-color: var(--container) !important;
}

.select__multi-value__label, .select__single-value {
  color: var(--on-container) !important;
}

.select__multi-value__remove {
  cursor: pointer;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* there is probably a better way to do this */
.test-list {
  height: calc(100vh - 336px);
}